<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customers List</title>
</head>
<body>
<div align="center">

    <h2>Customers list</h2>
    <!--Add button-->
    <a th:href="@{__${T(pl.sborowy.hotelroomsbookingapp.util.Mappings).CUSTOMER_FORM_SAVE}__}">
        Add Customer
    </a>

    <table border="2.5" cellpadding="5">

        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone number</th>
            <th>Actions</th>
        </tr>

        <tr th:each="customer : ${customers}">
            <td th:align="center" th:text="${customer.id}">Id content</td>
            <td th:align="center" th:text="${customer.firstName}">First name content</td>
            <td th:align="center" th:text="${customer.lastName}">Last name content</td>
            <td th:align="center" th:text="${customer.email}">Email content</td>
            <td th:align="center" th:text="${customer.phoneNumber}">Phone number content</td>
            <td>
                <!--Info button-->
                <a th:href="@{__${T(pl.sborowy.hotelroomsbookingapp.util.Mappings).CUSTOMER}__(customerId=${customer.id})}">
                    Info
                </a>

                <!--Update button-->
                <a th:href="@{__${T(pl.sborowy.hotelroomsbookingapp.util.Mappings).CUSTOMER_FORM_UPDATE}__(customerId=${customer.id})}">
                    Update
                </a>

                <!--Delete button-->
                <a th:href="@{__${T(pl.sborowy.hotelroomsbookingapp.util.Mappings).CUSTOMER_DELETE}__(customerId=${customer.id})}"
                   onclick="if (!(confirm('Are you sure you want to delete this customer?'))) return false">
                    Delete
                </a>
            </td>
        </tr>
    </table>

    <a th:href="@{__${T(pl.sborowy.hotelroomsbookingapp.util.Mappings).ROOMS}__}">Go to Rooms List</a>
</div>
</body>
</html>