<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Info</title>
</head>
<body>
<div align="center">
    <table border="2.5" cellpadding="5">
        <caption><h2>Customer info</h2></caption>

        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone number</th>
        </tr>

        <tr>
            <td th:align="center" th:text="${customer.id}">Id content</td>
            <td th:align="center" th:text="${customer.firstName}">First name content</td>
            <td th:align="center" th:text="${customer.lastName}">Last name content</td>
            <td th:align="center" th:text="${customer.email}">Email content</td>
            <td th:align="center" th:text="${customer.phoneNumber}">Phone number content</td>
        </tr>
    </table>

    <a th:href="@{__${T(pl.sborowy.hotelroomsbookingapp.util.customer.CustomerMappings).CUSTOMERS_LIST}__}">Back to Customers List</a>
</div>
</body>
</html>