<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>User Info</title>
</head>
<body>
<div class="container" align="center">

    <h3 class="h3 mb-3">User Info</h3>
    <hr>

    <table class="table table-striped">
        <caption>User info</caption>

        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone number</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td th:align="center" th:text="${user.id}">Id content</td>
                <td th:align="center" th:text="${user.firstName}">First name content</td>
                <td th:align="center" th:text="${user.lastName}">Last name content</td>
                <td th:align="center" th:text="${user.email}">Email content</td>
                <td th:align="center" th:text="${user.phoneNumber}">Phone number content</td>
            </tr>
        </tbody>
    </table>
    <hr>

    <a th:href="@{__${T(pl.sborowy.hotelroomsbookingapp.util.user.UserMappings).USERS_LIST}__}"
       class="btn btn-link">Back to Users List</a>
</div>
</body>
</html>