<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Users List</title>
</head>
<body>
<div class="container" align="center">

    <h3 class="h3 mb-3">Users List</h3>
    <hr>

    <!--Add button-->
    <a th:href="@{__${T(pl.sborowy.hotelroomsbookingapp.util.user.UserMappings).USER_FORM_SAVE}__}"
       class="btn btn-primary">
        Add User
    </a>
    <hr>

    <table class="table table-striped table-hover">
        <caption>Users list</caption>

        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone number</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="user : ${users}">
                <td th:align="center" th:text="${user.id}">Id content</td>
                <td th:align="center" th:text="${user.firstName}">First name content</td>
                <td th:align="center" th:text="${user.lastName}">Last name content</td>
                <td th:align="center" th:text="${user.email}">Email content</td>
                <td th:align="center" th:text="${user.phoneNumber}">Phone number content</td>
                <td>

                    <!--Info button-->
                    <a th:href="@{__${T(pl.sborowy.hotelroomsbookingapp.util.user.UserMappings).USER_GET}__(userId=${user.id})}"
                       class="btn btn-info">
                        Info
                    </a>

                    <!--Update button-->
                    <a th:href="@{__${T(pl.sborowy.hotelroomsbookingapp.util.user.UserMappings).USER_FORM_UPDATE}__(userId=${user.id})}"
                       class="btn btn-warning">
                        Update
                    </a>

                    <!--Delete button-->
                    <a th:href="@{__${T(pl.sborowy.hotelroomsbookingapp.util.user.UserMappings).USER_DELETE}__(userId=${user.id})}"
                       onclick="if (!(confirm('Are you sure you want to delete this user?'))) return false"
                       class="btn btn-danger">
                        Delete
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <hr>

    <a th:href="@{__${T(pl.sborowy.hotelroomsbookingapp.util.room.RoomMappings).ROOMS_LIST}__}"
       class="btn btn-link">Go to Rooms List</a>
</div>
</body>
</html>